<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
                "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="fr" xml:lang="fr">

    <head>
        <title></title>
        <meta name="description" content="" />
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="language" content="fr" />
        <meta name="revisit-after" content="7 days" />
        <meta name="robots" content="index, follow" />

    </head>
    <body>
        <div class="main_content">
            <header class="u-full-width">
                <div class="container row">
                    <h2 class="six columns" id="logo">
                        <a href="./" title=""><img src="images/content/logo.png" alt="" /></a>
                    </h2>

                    <div class="six columns">
                        <form action="./" method="get">
                            <input type="text" name="q" value="" placeholder="Que recherchez-vous ?" />
                            <input type="hidden" name="p" value="search" />
                            <input type="submit" name="submit" value="OK" />
                        </form>
                    </div>
                </div>
            </header>
            <nav class="container" id="nav">
                <ul class="row">
                    <li class="three columns"><a href="template_category.html" title="">Meubles</a></li>
                    <li class="three columns"><a href="template_category.html" title="">Luminaires</a></li>
                    <li class="three columns"><a href="template_category.html" title="">Accessoires</a></li>
                    <li class="three columns"><a href="template_category.html" title="">Les exceptionnels</a></li>
                </ul>
            </nav>


            <div id='search' class='u-full-width'>
                <div id="trail" class="container row">
                    <ul>
                      <li>Vous êtes ici :</li>
                      <li><a href="template_home.html" title="">Page d'accueil</a></li>
                      <li><a href="template_category.html" title="">Meubles</a></li>
                      <li>Assises</li>
                    </ul>
                </div>
            </div>

            <section class="container"><div class="row">
                <nav class="three columns">
                    <ul id="accordion"><li><a href="template_subcategory.html">Armoires & Penderies</a></li>
                        <li><a href="template_subcategory.html">Assises</a></li>
                        <li><a href="template_subcategory.html">Bancs</a></li>
                        <li><a href="template_subcategory.html">Bibliothèques</a></li>
                        <li><a href="template_subcategory.html">Buffets</a></li>
                        <li><a href="template_subcategory.html">Bureaux</a></li>
                        <li><a href="template_subcategory.html">Canapés</a></li>
                        <li><a href="template_subcategory.html">Chaises d'Appoint</a></li>
                        <li><a href="template_subcategory.html">Chaises d'Appoint et Chaises de Salon</a></li>
                        <li><a href="template_subcategory.html">Chaises d'Enfant</a></li>
                        <li><a href="template_subcategory.html">Chaises de Bureau</a></li>
                        <li><a href="template_subcategory.html">Chaises de Jardin</a></li>
                        <li><a href="template_subcategory.html">Chaises de Salon</a></li>
                        <li><a href="template_subcategory.html">Chaises Longues et Banquettes</a></li>
                        <li><a href="template_subcategory.html">Chaises Longues et Fauteuils</a></li>
                        <li><a href="template_subcategory.html">Chaises Pliantes</a></li>
                        <li><a href="template_subcategory.html">Coiffeuses</a></li>
                        <li><a href="template_subcategory.html">Commodes & Placards</a></li>
                        <li><a href="template_subcategory.html">Crédences</a></li>
                        <li><a href="template_subcategory.html">Dessertes et Chariots</a></li>
                        <li><a href="template_subcategory.html">Divans</a></li>
                        <li><a href="template_subcategory.html">Divans et Chaises longues</a></li>
                        <li><a href="template_subcategory.html">Enfilades</a></li>
                        <li><a href="template_subcategory.html">Enfilades & Buffets</a></li>
                        <li><a href="template_subcategory.html">Étagères</a></li>
                        <li><a href="template_subcategory.html">Étagères & Consoles Murales</a></li>
                        <li><a href="template_subcategory.html">Meubles de rangement</a></li>
                        <li><a href="template_subcategory.html">Meubles de Rangement</a></li>
                        <li><a href="template_subcategory.html">Meubles de Rangement & Armoires</a></li>
                        <li><a href="template_subcategory.html">Placards</a></li>
                        <li><a href="template_subcategory.html">Poufs & Ottomanes</a></li>
                        <li><a href="template_subcategory.html">Rocking Chairs</a></li>
                        <li><a href="template_subcategory.html">Secrétaires</a></li>
                        <li><a href="template_subcategory.html">Sets de Salon</a></li>
                        <li><a href="template_subcategory.html">Sièges de Bureau</a></li>
                        <li><a href="template_subcategory.html">Sièges Pivotants</a></li>
                        <li><a href="template_subcategory.html">Tables</a></li>
                        <li><a href="template_subcategory.html">Tables basses</a></li>
                        <li><a href="template_subcategory.html">Tables Basses & Tables d'Appoint</a></li>
                        <li><a href="template_subcategory.html">Tables Console</a></li>
                        <li><a href="template_subcategory.html">Tables d'Appoint</a></li>
                        <li><a href="template_subcategory.html">Tables de Chevet</a></li>
                        <li><a href="template_subcategory.html">Tables de Jardin</a></li>
                        <li><a href="template_subcategory.html">Tables de Salle à Manger</a></li>
                        <li><a href="template_subcategory.html">Tables de Travail & Plans de Travail</a></li>
                        <li><a href="template_subcategory.html">Tables Gigognes & Tables Empilables</a></li>
                        <li><a href="template_subcategory.html">Tabourets</a></li>
                    </ul>                </nav>
                <div class="nine columns">

                    <div class="row">
                        <article class="pres_product four columns border">
                            <div class="thumb">
                                <a href="template_detail.html" title="">
                                    <span class="rollover"><i>+</i></span>
                                    <img src="upload/thumb/thumb_1854-1.jpg" alt="" />
                                </a>
                            </div>
                            <header>
                                <h4><a href="template_detail.html" title="">Barboy par Verner Panton pour Verpan, 1963</a></h4>
                                <div class="subheader">
                                    <span class="fa fa-bars"></span> <a href="" title=""></a>
                                    <span class="separator">|</span>
                                    <span class="fa fa-pencil"></span> <a href="" title="">Verner PANTON</a>
                                    <span class="separator">|</span>
                                    <span class="fa fa-building-o"></span> <a href="" title=""><small style="opacity:.5;">- non précisé -</small></a>
                                </div>
                            </header>
                            <div class="une_txt">
                                <p>
                                    - Bar trolley in black painted molded plywood
                                    - Stands on 3 chromed metal wheels
                                    - Composed of 4...
                                    <a href="template_detail.html" title="">[...]</a>
                                    <b>0,00 €</b>
                                </p>
                            </div>
                        </article>

                        <article class="pres_product four columns border">
                            <div class="thumb">
                                <a href="template_detail.html" title="">
                                    <span class="rollover"><i>+</i></span>
                                    <img src="upload/thumb/thumb_1847-1.jpg" alt="" />
                                </a>
                            </div>
                            <header>
                                <h4><a href="template_detail.html" title="">Bibliothèque Modulaire, France, 1950s</a></h4>
                                <div class="subheader">
                                    <span class="fa fa-bars"></span> <a href="" title=""></a>
                                    <span class="separator">|</span>
                                    <span class="fa fa-pencil"></span> <a href="" title=""><small style="opacity:.5;">- non précisé -</small></a>
                                    <span class="separator">|</span>
                                    <span class="fa fa-building-o"></span> <a href="" title=""><small style="opacity:.5;">- non précisé -</small></a>
                                </div>
                            </header>
                            <div class="une_txt">
                                <p>

                                    <a href="template_detail.html" title="">[...]</a>
                                    <b>950,00 €</b>
                                </p>
                            </div>
                        </article>

                        <article class="pres_product four columns border">
                            <div class="thumb">
                                <a href="template_detail.html" title="">
                                    <span class="rollover"><i>+</i></span>
                                    <img src="upload/thumb/thumb_1860-1.jpg" alt="" />
                                </a>
                            </div>
                            <header>
                                <h4><a href="template_detail.html" title="">Bureau en Teck et en Palissandre par Richard Hornby Elliotts of Newbury, 1960s</a></h4>
                                <div class="subheader">
                                    <span class="fa fa-bars"></span> <a href="" title=""></a>
                                    <span class="separator">|</span>
                                    <span class="fa fa-pencil"></span> <a href="" title=""><small style="opacity:.5;">- non précisé -</small></a>
                                    <span class="separator">|</span>
                                    <span class="fa fa-building-o"></span> <a href="" title=""><small style="opacity:.5;">- non précisé -</small></a>
                                </div>
                            </header>
                            <div class="une_txt">
                                <p>
                                    This dresser/desk was designed by Richard Hornby and manufactured by Elliotts of Newbury in the...
                                    <a href="template_detail.html" title="">[...]</a>
                                    <b>2.008,00 €</b>
                                </p>
                            </div>
                        </article>

                    </div>
                    <div class="row">
                        <article class="pres_product four columns border">
                            <div class="thumb">
                                <a href="template_detail.html" title="">
                                    <span class="rollover"><i>+</i></span>
                                    <img src="upload/thumb/thumb_1859-1.jpg" alt="" />
                                </a>
                            </div>
                            <header>
                                <h4><a href="template_detail.html" title="">Commode à Tiroirs Mid-Century en ¨Palissandre</a></h4>
                                <div class="subheader">
                                    <span class="fa fa-bars"></span> <a href="" title=""></a>
                                    <span class="separator">|</span>
                                    <span class="fa fa-pencil"></span> <a href="" title=""><small style="opacity:.5;">- non précisé -</small></a>
                                    <span class="separator">|</span>
                                    <span class="fa fa-building-o"></span> <a href="" title=""><small style="opacity:.5;">- non précisé -</small></a>
                                </div>
                            </header>
                            <div class="une_txt">
                                <p>
                                    This chest of drawers features three drawers.
                                    <a href="template_detail.html" title="">[...]</a>
                                    <b>295,00 €</b>
                                </p>
                            </div>
                        </article>

                        <article class="pres_product four columns border">
                            <div class="thumb">
                                <a href="template_detail.html" title="">
                                    <span class="rollover"><i>+</i></span>
                                    <img src="upload/thumb/thumb_1848-1.jpg" alt="" />
                                </a>
                            </div>
                            <header>
                                <h4><a href="template_detail.html" title="">Commode à Tiroirs Mid-Century Multifonctionnelle, République Tchèque, 1965</a></h4>
                                <div class="subheader">
                                    <span class="fa fa-bars"></span> <a href="" title=""></a>
                                    <span class="separator">|</span>
                                    <span class="fa fa-pencil"></span> <a href="" title=""><small style="opacity:.5;">- non précisé -</small></a>
                                    <span class="separator">|</span>
                                    <span class="fa fa-building-o"></span> <a href="" title=""><small style="opacity:.5;">- non précisé -</small></a>
                                </div>
                            </header>
                            <div class="une_txt">
                                <p>
                                    - chest of drawers/dresser/small home office
                                    - good condition with signs of age
                                    <a href="template_detail.html" title="">[...]</a>
                                    <b>859,00 €</b>
                                </p>
                            </div>
                        </article>

                        <article class="pres_product four columns border">
                            <div class="thumb">
                                <a href="template_detail.html" title="">
                                    <span class="rollover"><i>+</i></span>
                                    <img src="upload/thumb/thumb_1858-1.jpg" alt="" />
                                </a>
                            </div>
                            <header>
                                <h4><a href="template_detail.html" title="">Commode à Tiroirs Mid-Century par T.H. Robsjohn-Gibbings pour Widdicomb</a></h4>
                                <div class="subheader">
                                    <span class="fa fa-bars"></span> <a href="" title=""></a>
                                    <span class="separator">|</span>
                                    <span class="fa fa-pencil"></span> <a href="" title=""><small style="opacity:.5;">- non précisé -</small></a>
                                    <span class="separator">|</span>
                                    <span class="fa fa-building-o"></span> <a href="" title=""><small style="opacity:.5;">- non précisé -</small></a>
                                </div>
                            </header>
                            <div class="une_txt">
                                <p>
                                    This 1960s chest of drawers was designed by T.H. Robsjohn-Gibbings for Widdicomb. The wood has been...
                                    <a href="template_detail.html" title="">[...]</a>
                                    <b>3.041,00 €</b>
                                </p>
                            </div>
                        </article>

                    </div>
                    <div class="row">
                        <article class="pres_product four columns border">
                            <div class="thumb">
                                <a href="template_detail.html" title="">
                                    <span class="rollover"><i>+</i></span>
                                    <img src="upload/thumb/thumb_1855-1.jpg" alt="" />
                                </a>
                            </div>
                            <header>
                                <h4><a href="template_detail.html" title="">Commode à Tiroirs Noire, Italie, 1970s</a></h4>
                                <div class="subheader">
                                    <span class="fa fa-bars"></span> <a href="" title=""></a>
                                    <span class="separator">|</span>
                                    <span class="fa fa-pencil"></span> <a href="" title=""><small style="opacity:.5;">- non précisé -</small></a>
                                    <span class="separator">|</span>
                                    <span class="fa fa-building-o"></span> <a href="" title=""><small style="opacity:.5;">- non précisé -</small></a>
                                </div>
                            </header>
                            <div class="une_txt">
                                <p>
                                    - Modernist black chest of drawers
                                    - The chest has some simile-mother of pearl squared details
                                    -...
                                    <a href="template_detail.html" title="">[...]</a>
                                    <b>701,00 €</b>
                                </p>
                            </div>
                        </article>

                        <article class="pres_product four columns border">
                            <div class="thumb">
                                <a href="template_detail.html" title="">
                                    <span class="rollover"><i>+</i></span>
                                    <img src="upload/thumb/thumb_1862-1.jpg" alt="" />
                                </a>
                            </div>
                            <header>
                                <h4><a href="template_detail.html" title="">Commode à Tiroirs par Kai Kristiansen pour Feldballes Møbelfabrik,1960s</a></h4>
                                <div class="subheader">
                                    <span class="fa fa-bars"></span> <a href="" title=""></a>
                                    <span class="separator">|</span>
                                    <span class="fa fa-pencil"></span> <a href="" title="">Kai Kristiansen</a>
                                    <span class="separator">|</span>
                                    <span class="fa fa-building-o"></span> <a href="" title="">Feldballes Møbelfabrik</a>
                                </div>
                            </header>
                            <div class="une_txt">
                                <p>
                                    Small chest of drawers designed by Kai Kristiansen for Feldballes Møbelfabrik in the 1960s. Made...
                                    <a href="template_detail.html" title="">[...]</a>
                                    <b>440,00 €</b>
                                </p>
                            </div>
                        </article>

                        <article class="pres_product four columns border">
                            <div class="thumb">
                                <a href="template_detail.html" title="">
                                    <span class="rollover"><i>+</i></span>
                                    <img src="upload/thumb/thumb_1840-1.jpg" alt="" />
                                </a>
                            </div>
                            <header>
                                <h4><a href="template_detail.html" title="">Commode à Tiroirs U-453 par Jiri Jiroutek pour Interier Praha, 1960s</a></h4>
                                <div class="subheader">
                                    <span class="fa fa-bars"></span> <a href="" title=""></a>
                                    <span class="separator">|</span>
                                    <span class="fa fa-pencil"></span> <a href="" title=""><small style="opacity:.5;">- non précisé -</small></a>
                                    <span class="separator">|</span>
                                    <span class="fa fa-building-o"></span> <a href="" title=""><small style="opacity:.5;">- non précisé -</small></a>
                                </div>
                            </header>
                            <div class="une_txt">
                                <p>
                                    - Chest of drawers, model U-453
                                    - Designed by Jiří Jiroutek for Interiér Praha
                                    - Manufactured...
                                    <a href="template_detail.html" title="">[...]</a>
                                    <b>1.150,00 €</b>
                                </p>
                            </div>
                        </article>

                    </div>

                  <br /><br />
                  <ul class='pagination'>
                    <li><a href='' class='active'>1</a></li>
                    <li><a href='' class=''>2</a></li>
                    <li><a href='' class=''>3</a></li>
                    <li><a href='' class=''>4</a></li>
                    <li><a href='' class=''>5</a></li>
                    <li><a href='' class=''>6</a></li>
                    <li><a href='' class=''>7</a></li>
                    <li><a href='' class=''>8</a></li>
                    <li><a href='' class=''>9</a></li>
                    <li><a href='' class=''>10</a></li>
                    <li><a href='' class=''>11</a></li>
                    <li>...</li>
                    <li><a href='' title='résultats suivants'>></a></li>
                    <li><a href='' title='derniers résultats'>>>|</a></li>
                  </ul>
                </div>
            </div>

            </section>

            <footer class="u-full-width">
                <div id="footer" class="container row">
                    <ul class="six columns" id="submenu">
                        <li><a href="./" title="">Meubles</a></li>
                        <li><a href="./" title="">Luminaires</a></li>
                        <li><a href="./" title="">Accessoires</a></li>
                        <li><a href="./" title="">Les exceptionnels</a></li>
                    </ul>
                    <ul class="six columns" id="legal_ul">
                        <li id="legal">Légal</li>
                        <li><a href="./" title="Termes et conditions">Termes et conditions</a></li>
                        <li><a href="./" title="Politique sur les cookies">Politique sur les cookies</a></li>
                        <li><a href="./" title="F.A.Q.">F.A.Q.</a></li>
                    </ul>
                </div>
                <p>© Copyright - Vintage Lab</p>
            </footer>

        </div>

        <link rel="stylesheet" type="text/css" href="css/public/style.min.css" media="screen" defer="true" />
        <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
    </body>
</html>