<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
                "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="fr" xml:lang="fr">
    <head>
        <title></title>
        <meta name="description" content="" />
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="language" content="fr" />
        <meta name="revisit-after" content="7 days" />
        <meta name="robots" content="index, follow" />
    </head>
    <body>
        <div class="main_content">
            <header class="u-full-width">
                <div class="container row">
                    <h2 class="six columns" id="logo">
                        <a href="./" title=""><img src="images/content/logo.png" alt="" /></a>
                    </h2>
        
                    <div class="six columns">
                        <form action="./" method="get">
                            <input type="text" name="q" value="" placeholder="Que recherchez-vous ?" />
                            <input type="hidden" name="p" value="search" />
                            <input type="submit" name="submit" value="OK" />
                        </form>
                    </div>
                </div>
            </header>
            <nav class="container" id="nav">
                <ul class="row">
                    <li class="three columns"><a href="./template_category.html" title="">Meubles</a></li>
                    <li class="three columns"><a href="./template_category.html" title="">Luminaires</a></li>
                    <li class="three columns"><a href="./template_category.html" title="">Accessoires</a></li>
                    <li class="three columns"><a href="./template_category.html" title="">Les exceptionnels</a></li>
                </ul>
            </nav>
        
        
            <div id='search' class='u-full-width'>
                <div id="trail" class="container row">
                    <ul>
                        <li>Vous êtes ici :</li>
                        <li><a href="template_home.html" title="">Page d'accueil</a></li>
                        <li>Meubles</li>
                    </ul>
                </div>
            </div>
        
            <section class="container"><div class="row">
                <nav class="three columns">
                    <ul id="accordion">
                        <li><a href="template_subcategory.html">Armoires & Penderies</a></li>
                        <li><a href="template_subcategory.html">Assises</a></li>
                        <li><a href="template_subcategory.html">Bancs</a></li>
                        <li><a href="template_subcategory.html">Bibliothèques</a></li>
                        <li><a href="template_subcategory.html">Buffets</a></li>
                        <li><a href="template_subcategory.html">Bureaux</a></li>
                        <li><a href="template_subcategory.html">Canapés</a></li>
                        <li><a href="template_subcategory.html">Chaises d'Appoint</a></li>
                        <li><a href="template_subcategory.html">Chaises d'Appoint et Chaises de Salon</a></li>
                        <li><a href="template_subcategory.html">Chaises d'Enfant</a></li>
                        <li><a href="template_subcategory.html">Chaises de Bureau</a></li>
                        <li><a href="template_subcategory.html">Chaises de Jardin</a></li>
                        <li><a href="template_subcategory.html">Chaises de Salon</a></li>
                        <li><a href="template_subcategory.html">Chaises Longues et Banquettes</a></li>
                        <li><a href="template_subcategory.html">Chaises Longues et Fauteuils</a></li>
                        <li><a href="template_subcategory.html">Chaises Pliantes</a></li>
                        <li><a href="template_subcategory.html">Coiffeuses</a></li>
                        <li><a href="template_subcategory.html">Commodes & Placards</a></li>
                        <li><a href="template_subcategory.html">Crédences</a></li>
                        <li><a href="template_subcategory.html">Dessertes et Chariots</a></li>
                        <li><a href="template_subcategory.html">Divans</a></li>
                        <li><a href="template_subcategory.html">Divans et Chaises longues</a></li>
                        <li><a href="template_subcategory.html">Enfilades</a></li>
                        <li><a href="template_subcategory.html">Enfilades & Buffets</a></li>
                        <li><a href="template_subcategory.html">Étagères</a></li>
                        <li><a href="template_subcategory.html">Étagères & Consoles Murales</a></li>
                        <li><a href="template_subcategory.html">Meubles de rangement</a></li>
                        <li><a href="template_subcategory.html">Meubles de Rangement</a></li>
                        <li><a href="template_subcategory.html">Meubles de Rangement & Armoires</a></li>
                        <li><a href="template_subcategory.html">Placards</a></li>
                        <li><a href="template_subcategory.html">Poufs & Ottomanes</a></li>
                        <li><a href="template_subcategory.html">Rocking Chairs</a></li>
                        <li><a href="template_subcategory.html">Secrétaires</a></li>
                        <li><a href="template_subcategory.html">Sets de Salon</a></li>
                        <li><a href="template_subcategory.html">Sièges de Bureau</a></li>
                        <li><a href="template_subcategory.html">Sièges Pivotants</a></li>
                        <li><a href="template_subcategory.html">Tables</a></li>
                        <li><a href="template_subcategory.html">Tables basses</a></li>
                        <li><a href="template_subcategory.html">Tables Basses & Tables d'Appoint</a></li>
                        <li><a href="template_subcategory.html">Tables Console</a></li>
                        <li><a href="template_subcategory.html">Tables d'Appoint</a></li>
                        <li><a href="template_subcategory.html">Tables de Chevet</a></li>
                        <li><a href="template_subcategory.html">Tables de Jardin</a></li>
                        <li><a href="template_subcategory.html">Tables de Salle à Manger</a></li>
                        <li><a href="template_subcategory.html">Tables de Travail & Plans de Travail</a></li>
                        <li><a href="template_subcategory.html">Tables Gigognes & Tables Empilables</a></li>
                        <li><a href="template_subcategory.html">Tabourets</a></li>
                    </ul>
                </nav>
                <div class="nine columns">
        
                    <div class="row">
                        <article class="pres_product four columns border">
                            <div class="thumb">
                                <a href="template_detail.html" title="">
                                    <span class="rollover"><i>+</i></span>
                                    <img src="upload/thumb/thumb_373-1.jpg" alt="" />
                                </a>
                            </div>
                            <header>
                                <h4><a href="template_detail.html" title="">2-Seater Sofa by Ole Wanscher, 1970s</a></h4>
                                <div class="subheader">
                                    <span class="fa fa-bars"></span> <a href="" title=""></a>
                                    <span class="separator">|</span>
                                    <span class="fa fa-pencil"></span> <a href="" title="">Ole Wanscher</a>
                                    <span class="separator">|</span>
                                    <span class="fa fa-building-o"></span> <a href="" title=""><small style="opacity:.5;">- non précisé -</small></a>
                                </div>
                            </header>
                            <div class="une_txt">
                                <p>
                                    A 2-seater sofa with daybed for one person up to 158cm. The wood type is probably light teak or...
                                    <a href="template_detail.html" title="">[...]</a>
                                    <b>941,00 €</b>
                                </p>
                            </div>
                        </article>
        
                        <article class="pres_product four columns border">
                            <div class="thumb">
                                <a href="template_detail.html" title="">
                                    <span class="rollover"><i>+</i></span>
                                    <img src="upload/thumb/thumb_1376-1.jpg" alt="" />
                                </a>
                            </div>
                            <header>
                                <h4><a href="template_detail.html" title="">219 Nesting Tables by Johannes Andersen and Illum Wikkelsø for CFC Silkeborg</a></h4>
                                <div class="subheader">
                                    <span class="fa fa-bars"></span> <a href="" title=""></a>
                                    <span class="separator">|</span>
                                    <span class="fa fa-pencil"></span> <a href="" title="">Illum Wikkelso</a>
                                    <span class="separator">|</span>
                                    <span class="fa fa-building-o"></span> <a href="" title=""><small style="opacity:.5;">- non précisé -</small></a>
                                </div>
                            </header>
                            <div class="une_txt">
                                <p>
                                    This set of Danish mid-century nesting tables in teak and cane was designed by Johannes Andersen...
                                    <a href="template_detail.html" title="">[...]</a>
                                    <b>750,00 €</b>
                                </p>
                            </div>
                        </article>
        
                        <article class="pres_product four columns border">
                            <div class="thumb">
                                <a href="template_detail.html" title="">
                                    <span class="rollover"><i>+</i></span>
                                    <img src="upload/thumb/thumb_946-1.jpg" alt="" />
                                </a>
                            </div>
                            <header>
                                <h4><a href="template_detail.html" title="">292 Hill House 1 Chairs by Charles Rennie Mackintosh for Cassina, 1970s, Set of 2</a></h4>
                                <div class="subheader">
                                    <span class="fa fa-bars"></span> <a href="" title=""></a>
                                    <span class="separator">|</span>
                                    <span class="fa fa-pencil"></span> <a href="" title="">Charles Rennie Mackintosh</a>
                                    <span class="separator">|</span>
                                    <span class="fa fa-building-o"></span> <a href="" title="">Cassina</a>
                                </div>
                            </header>
                            <div class="une_txt">
                                <p>
                                    This pair of model 292 Hill House 1 chairs in ash was designed by Charles Rennie Mackintosh and...
                                    <a href="template_detail.html" title="">[...]</a>
                                    <b>2.450,00 €</b>
                                </p>
                            </div>
                        </article>
        
                    </div>
                    <div class="row">
                        <article class="pres_product four columns border">
                            <div class="thumb">
                                <a href="template_detail.html" title="">
                                    <span class="rollover"><i>+</i></span>
                                    <img src="upload/thumb/thumb_589-1.jpg" alt="" />
                                </a>
                            </div>
                            <header>
                                <h4><a href="template_detail.html" title="">3-Seater Leather Sofa from Walter Knoll, 1960s</a></h4>
                                <div class="subheader">
                                    <span class="fa fa-bars"></span> <a href="" title=""></a>
                                    <span class="separator">|</span>
                                    <span class="fa fa-pencil"></span> <a href="" title=""><small style="opacity:.5;">- non précisé -</small></a>
                                    <span class="separator">|</span>
                                    <span class="fa fa-building-o"></span> <a href="" title="">Walter Knoll / Wilhelm Knoll</a>
                                </div>
                            </header>
                            <div class="une_txt">
                                <p>
                                    This three-seater sofa from the 1960s was made by the German furniture manufacturer Walter Knoll....
                                    <a href="template_detail.html" title="">[...]</a>
                                    <b>2.450,00 €</b>
                                </p>
                            </div>
                        </article>
        
                        <article class="pres_product four columns border">
                            <div class="thumb">
                                <a href="template_detail.html" title="">
                                    <span class="rollover"><i>+</i></span>
                                    <img src="upload/thumb/thumb_2145-1.jpg" alt="" />
                                </a>
                            </div>
                            <header>
                                <h4><a href="template_detail.html" title="">520 Space Lamp from Fase, 1960s</a></h4>
                                <div class="subheader">
                                    <span class="fa fa-bars"></span> <a href="" title=""></a>
                                    <span class="separator">|</span>
                                    <span class="fa fa-pencil"></span> <a href="" title=""><small style="opacity:.5;">- non précisé -</small></a>
                                    <span class="separator">|</span>
                                    <span class="fa fa-building-o"></span> <a href="" title="">Fase</a>
                                </div>
                            </header>
                            <div class="une_txt">
                                <p>
        
                                    <a href="template_detail.html" title="">[...]</a>
                                    <b>280,00 €</b>
                                </p>
                            </div>
                        </article>
        
                        <article class="pres_product four columns border">
                            <div class="thumb">
                                <a href="template_detail.html" title="">
                                    <span class="rollover"><i>+</i></span>
                                    <img src="upload/thumb/thumb_599-1.jpg" alt="" />
                                </a>
                            </div>
                            <header>
                                <h4><a href="template_detail.html" title="">Afromosia & Wool Kandidaten Sofa by Ib Kofod-Larsen for OPE, 1950s</a></h4>
                                <div class="subheader">
                                    <span class="fa fa-bars"></span> <a href="" title=""></a>
                                    <span class="separator">|</span>
                                    <span class="fa fa-pencil"></span> <a href="" title="">Ib Kofod-Larsen</a>
                                    <span class="separator">|</span>
                                    <span class="fa fa-building-o"></span> <a href="" title=""><small style="opacity:.5;">- non précisé -</small></a>
                                </div>
                            </header>
                            <div class="une_txt">
                                <p>
                                    This sofa model Kandidaten'was designed by Ib Kofod-Larsen. It was produced by OPE in Sweden during...
                                    <a href="template_detail.html" title="">[...]</a>
                                    <b>6.926,00 €</b>
                                </p>
                            </div>
                        </article>
        
                    </div>
                    <div class="row">
                        <article class="pres_product four columns border">
                            <div class="thumb">
                                <a href="template_detail.html" title="">
                                    <span class="rollover"><i>+</i></span>
                                    <img src="upload/thumb/thumb_1209-1.jpg" alt="" />
                                </a>
                            </div>
                            <header>
                                <h4><a href="template_detail.html" title="">American IN-50 Coffee Table by Isamu Noguchi for Herman Miller, 1944</a></h4>
                                <div class="subheader">
                                    <span class="fa fa-bars"></span> <a href="" title=""></a>
                                    <span class="separator">|</span>
                                    <span class="fa fa-pencil"></span> <a href="" title="">Isamu Noguchi</a>
                                    <span class="separator">|</span>
                                    <span class="fa fa-building-o"></span> <a href="" title="">Herman Miller</a>
                                </div>
                            </header>
                            <div class="une_txt">
                                <p>
                                    This dining table by was designed by Isamu Noguchi in 1944. It is part of the permanent exhibition...
                                    <a href="template_detail.html" title="">[...]</a>
                                    <b>1.350,00 €</b>
                                </p>
                            </div>
                        </article>
        
                        <article class="pres_product four columns border">
                            <div class="thumb">
                                <a href="template_detail.html" title="">
                                    <span class="rollover"><i>+</i></span>
                                    <img src="upload/thumb/thumb_1373-1.jpg" alt="" />
                                </a>
                            </div>
                            <header>
                                <h4><a href="template_detail.html" title="">Antique Asian Kang Table</a></h4>
                                <div class="subheader">
                                    <span class="fa fa-bars"></span> <a href="" title=""></a>
                                    <span class="separator">|</span>
                                    <span class="fa fa-pencil"></span> <a href="" title=""><small style="opacity:.5;">- non précisé -</small></a>
                                    <span class="separator">|</span>
                                    <span class="fa fa-building-o"></span> <a href="" title=""><small style="opacity:.5;">- non précisé -</small></a>
                                </div>
                            </header>
                            <div class="une_txt">
                                <p>
                                    "Kang" means bed in Chinese. This is what the term "kang table" is derived from. The tables were...
                                    <a href="template_detail.html" title="">[...]</a>
                                    <b>564,00 €</b>
                                </p>
                            </div>
                        </article>
        
                        <article class="pres_product four columns border">
                            <div class="thumb">
                                <a href="template_detail.html" title="">
                                    <span class="rollover"><i>+</i></span>
                                    <img src="upload/thumb/thumb_22-1.jpg" alt="" />
                                </a>
                            </div>
                            <header>
                                <h4><a href="template_detail.html" title="">Antique Chairs with Horsehair, Set of 8</a></h4>
                                <div class="subheader">
                                    <span class="fa fa-bars"></span> <a href="" title=""></a>
                                    <span class="separator">|</span>
                                    <span class="fa fa-pencil"></span> <a href="" title=""><small style="opacity:.5;">- non précisé -</small></a>
                                    <span class="separator">|</span>
                                    <span class="fa fa-building-o"></span> <a href="" title=""><small style="opacity:.5;">- non précisé -</small></a>
                                </div>
                            </header>
                            <div class="une_txt">
                                <p>
                                    This set of eight Gustavian style chairs, in the style of C. J. Lillie, retain their original...
                                    <a href="template_detail.html" title="">[...]</a>
                                    <b>3.900,00 €</b>
                                </p>
                            </div>
                        </article>
        
                    </div>
        
                    <br /><br />
                    <ul class='pagination'>
                        <li><a href='' class='active'>1</a></li>
                        <li><a href='' class=''>2</a></li>
                        <li><a href='' class=''>3</a></li>
                        <li><a href='' class=''>4</a></li>
                        <li><a href='' class=''>5</a></li>
                        <li><a href='' class=''>6</a></li>
                        <li><a href='' class=''>7</a></li>
                        <li><a href='' class=''>8</a></li>
                        <li><a href='' class=''>9</a></li>
                        <li><a href='' class=''>10</a></li>
                        <li><a href='' class=''>11</a></li>
                        <li>...</li>
                        <li><a href='' title='résultats suivants'>></a></li>
                        <li><a href='' title='derniers résultats'>>>|</a></li>
                    </ul>
                </div>
            </div>
        
            </section>
        
            <footer class="u-full-width">
                <div id="footer" class="container row">
                    <ul class="six columns" id="submenu">
                        <li><a href="./" title="">Meubles</a></li>
                        <li><a href="./" title="">Luminaires</a></li>
                        <li><a href="./" title="">Accessoires</a></li>
                        <li><a href="./" title="">Les exceptionnels</a></li>
                    </ul>
                    <ul class="six columns" id="legal_ul">
                        <li id="legal">Légal</li>
                        <li><a href="./" title="Termes et conditions">Termes et conditions</a></li>
                        <li><a href="./" title="Politique sur les cookies">Politique sur les cookies</a></li>
                        <li><a href="./" title="F.A.Q.">F.A.Q.</a></li>
                    </ul>
                </div>
                <p>© Copyright - Vintage Lab</p>
            </footer>
        
        </div>

        <link rel="stylesheet" type="text/css" href="css/public/style.min.css" media="screen" defer="true" />
        <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
    </body>
</html>